/* Estilos generales para el cuerpo de la página */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
}

/* Estilos para los IDs 'title' y 'description' */
#title,
#description {
    text-align: center;
    margin: 1em auto;
}

/* Estilos para el ID 'survey-form' */
#survey-form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/* Estilos para los elementos 'fieldset' */
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #bbcde5;
}

/* Estilos para el último elemento 'fieldset' */
fieldset:last-of-type {
    border-bottom: none;
}

/* Estilos para los elementos 'label' */
label {
    display: block;
}

/* Estilos para inputs de texto, email, número, select y textarea */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para inputs de radio y checkbox */
input[type="radio"],
input[type="checkbox"] {
    display: inline;
    margin: 0 10px 10px 0;
}

/* Estilos para el ID 'submit' (botón de envío) */
#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #15558c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

/* Estilos al pasar el ratón por el ID 'submit' */
#submit:hover {
    background-color: #004e89;
}